<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <html xmlns:th="http://www.thymeleaf.org"></html>
        <title>Schola Holiday - Le Site Web</title>
    </head>

    <body>
        <header>
            <h1>Supprimer un hébergement</h1>
        </header>
        
        <section>
            <form action="">
                <fieldset>
                    <label for="id_hebergement">ID_hebergement</label>
                    <select name="id_hebergement">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type="submit" name="valider" value="Valider">
                </fieldset>
            </form> 
        </section>
        
    </body>
</html>