<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <html xmlns:th="http://www.thymeleaf.org"></html>
        <title>Schola Holiday - Le Site Web</title>
    </head>

    <body>
        <header>
            <h1>Supprimer une réservation</h1>
        </header>
        
        <section>
            <form th:action="@{/removereservation}" method="post">
                <fieldset>
                    <label for="id_reservation">ID_reservation</label>
                    <select th:field="*{reservations}" name="id_reservation">
                        <option th:each="reservation : ${reservations}"
                                th:value="${reservation.id}"
                                th:utext="${reservation.id}"/>
                    </select>
                    <input type="submit" name="valider" value="Valider">
                </fieldset>
            </form> 
        </section>
        
    </body>
</html>